<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer</title>
    <link rel="stylesheet" type="text/css" href="../static/timer.css"/>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="center-container">
        <div class="title">Welcome {{ name }}!</h1>
        <div class="subtitle">Please enter the time below.</div>
        <form id="timerForm">
            <input type="number" name="hour" placeholder="00" max="23"><span class="colon"> :</span>
            <input type="number" name="minute" placeholder="00" max="59"><span class="colon"> :</span>
            <input type="number" name="second" placeholder="00" max="59">
            <button type="submit" id="resetBtn">Set</button>
        </form>
        <div id="time-display">00:00:00</div>
        <button id="startBtn">Start</button>
        <button id="pauseBtn">Pause</button>
    </div>
    <script src="../static/timer.js"></script>
</body>
</html>